import data 

* {
    margin: 0;
    padding: 0;
    /* la propiedad 'box-sizing' viene establecida en el valor 'border-box' a partir del link de Bootstrap */
}

body {
    min-height: 100vh;
}

nav img {
    max-width: 150px;
}

.navbar-toggler {
    display: grid;
    justify-self: end;
}

.navbar-collapse {
    align-items: end;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: #F0EEED;
    padding: 0;
}

.nav-link:hover {
    box-shadow: 0 2px #d90368;
}

.slider {
    font-size: 40px;
    background-color: #609EA2;
}

h1 {
    font-size: 50px;
}

main {
    min-height: 100vh;
}

footer {
    font-size: 2rem;
}

.cohort-logo img {
    height: 3rem;
    width: 3rem;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}


/* Home | Upcoming Events | Past Events */

.form-check-input {
    margin: 0 0.5rem;
}

.form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
}

.form-check-input:checked {
    border-color: rgba(0, 0, 0, 0.25);
    background-color: #d90368;
}

.card {
    width: 18rem;
    height: 22rem;
    padding: 0.5rem;
    background-color: #F0EEED;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card-image {
    height: 9rem;
    margin: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  -4px -4px 6px #888888,
                  4px 4px 6px #ffffff;
}

/* #event1 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event2 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event3 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event4 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event5 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event6 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event7 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event8 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event9 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event10 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event11 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event12 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event13 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
}

#event14 {
    background-image: url(https://i.postimg.cc/Fs03hQDt/Collectivities-Party.jpg);
} */

#home-card-1 {
    background-image: url(../assets/Cinema.jpg);
}

#home-card-2 {
    background-image: url(../assets/Costume_Party.jpg);
}

#home-card-3 {
    background-image: url(../assets/Food_Fair.jpg);
}

#home-card-4 {
    background-image: url(../assets/Marathon.jpg);
}

#home-card-5 {
    background-image: url(../assets/Museum_Tour.jpg);
}

#home-card-6 {
    background-image: url(../assets/Music_Concert.jpg);
}

.card p {
    margin-bottom: 0;
}

.card-body p {
    font-size: 12px;
}

.card-bottom {
    margin: auto 0.5rem 0.25rem 0.5rem;
}

.card-bottom a, button[type="submit"] {
    background-color: #609EA2;
    color: #212529;
    box-shadow:  -4px -4px 6px #888888,
                4px 4px 6px #ffffff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card-bottom a:hover, button[type="submit"]:hover {
    background-color: #d90368!important;
    color: #F0EEED!important;
}


/* Contact */

.contact-form {
    background-color: #F0EEED;
    border: 1px solid rgba(0, 0, 0, 0.125);
}


/* Stats */

/* table {
    margin-bottom: 0!important;
} */

.text-start {
    font-size: x-large;
    font-weight: 600;
}


/* Event Details */

.details-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #F0EEED;
}

.details-image {
    box-shadow:  -4px -4px 6px #888888,
                  4px 4px 6px #ffffff;
}

.details-data {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.details-data ul {
    list-style-type: none;
    list-style-position: inside;
}

.details-data li>span {
    font-weight: bold;
}
